*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
leto-game-tracer-firebase-adminsdk-v819r-64d5669237.json
app/src/main/java/com/dmatesanz/leto/utils/ConstantsUtil.kt
